*{
    margin: 0px;
    padding: 0px;

    font-family: 'serif';
}
.nav_bar{
  width: 100%;
}
.nav_bar ul{
  background:#333;
  width: 150%;
  height: 100px;
  margin: 0 auto;
  padding: 10px;
}
  .nav_bar ul li {
    display: inline-block;
    padding: 10px;
    height: 30px;
    text-align: center;
}
.nav_bar ul li img{
  width: 90px;
  height: 75px;
  display: block;
  padding: 2px;
  border-radius: 50%;
}
.nav_bar ul li a{
  color:white;
  font-size: 20px;
  text-decoration:underline;
  padding: 105px;
  margin: 0 auto;

}
.profile_bar img{
  width: 300px;
  height: 350px;
  padding: 75px;
  border-radius: 50%
}
.p_block h1{
  padding-inline-start:inherit;
  position: absolute;
  left: 500px;
  top: 250px;
  float:right;
  font-size:3em;
  font-family:serif;
  color:#333;
  text-transform:uppercase;
}
.p_block p{
  font-style: oblique;
    font-size: large;
    padding-bottom: 20px;
    text-align: -webkit-center;
    position: absolute;
    left: 400px;
    top: 350px;
}
.p_block  p img{
  padding: 50px;
  width:30px;

}
/**/
